spring:
    datasource:
        url: jdbc:mysql://localhost:3306/toy?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
        username: root
        password: root


## Hibernate Properties
# The SQL dialect makes Hibernate generate better SQL for the chosen database
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL8Dialect

    # Hibernate ddl auto (create, create-drop, validate, update)
    hibernate:
        ddl-auto: update